# Ignore environment variable files
.env
.env.*

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
.next/
screenshots/

# Misc
*.local
*.cache

# VS Code settings
.vscode/
.vercel
.env*.local
